@page "/register"
@using MovieBox.Models
@using Microsoft.AspNetCore.Components.Forms

<EditForm Model="@registerModel"
          OnValidSubmit="HandleValidSubmit"
          OnInvalidSubmit="HandleInvalidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group mb-3">
        <label for="username">Username</label>
        <InputText id="username" @bind-Value="registerModel.Username" class="form-control" />
        <ValidationMessage For="@(() => registerModel.Username)" class="text-danger" />
    </div>

    <div class="form-group mb-3">
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="registerModel.Email" class="form-control" />
        <ValidationMessage For="@(() => registerModel.Email)" class="text-danger" />
    </div>

    <div class="form-group mb-3">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="registerModel.Password" type="password" class="form-control" />
        <ValidationMessage For="@(() => registerModel.Password)" class="text-danger" />
    </div>

    <div class="form-group mb-3">
        <label for="confirmPassword">Confirm Password</label>
        <InputText id="confirmPassword" @bind-Value="registerModel.ConfirmPassword" type="password" class="form-control" />
        <ValidationMessage For="@(() => registerModel.ConfirmPassword)" class="text-danger" />
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

@code {
    private RegisterModel registerModel = new RegisterModel();

    private void HandleValidSubmit()
    {
        // Do nothing
    }

    private void HandleInvalidSubmit()
    {
        // Do nothing
    }
}